.slidesContainer{
  width: 20%;
}
.drawTools{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(204, 204, 204, 0.75);
}
.presentationTitle{
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  width: 300px;
 text-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}